name: Build Environment

on: [push]

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push docker image
        uses: docker/build-push-action@v2
        with:
          context: "."
          file: "Dockerfile"
          tags: |
            ghcr.io/quansight-labs/amd-demo:latest
          push: ${{ github.event_name != 'pull_request' }}

      - name: Check installed packages version
        run: |
          docker run ghcr.io/quansight-labs/amd-demo:latest bash -c 'conda run -n docker-amd python -c "import sklearn; print(sklearn.__version__)"'
          docker run ghcr.io/quansight-labs/amd-demo:latest bash -c 'conda run -n docker-amd python -c "import scipy; print(scipy.__version__)"'
          docker run ghcr.io/quansight-labs/amd-demo:latest bash -c 'conda run -n docker-amd python -c "import cupy; print(cupy.__version__)"'
          docker run ghcr.io/quansight-labs/amd-demo:latest bash -c 'conda run -n docker-amd python -c "import skimage; print(skimage.__version__)"'
